.App {
  text-align: center;
}

.product-basket-wrapper {
  background-color: aliceblue;
  width: 100%;
  top: 0px;
  transition: 200ms all ease;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  z-index: 5;
}

.product-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  position: relative;
  margin: 20px;
}
